/* ///////////////////////// Мобильные устройства ///////////////////////// */
@media screen and (max-width: 360px) and (orientation: portrait) {
  body {
    background-image: url("../img/mat/360.svg");
    background-repeat: no-repeat;
  }

  .n1 {
    font-size: 8vw;
    margin-top: 33vw;
    margin-left: 4vw;
  }
  .n2 {
    font-size: 8vw;
    margin-top: 39.7vw;
    margin-left: 4vw;
  }
  .n3 {
    font-size: 8vw;
    margin-top: 46vw;
    margin-left: 4vw;
  }
  .n4 {
    font-size: 8vw;
    margin-top: 53vw;
    margin-left: 3.8vw;
  }
  .n5 {
    font-size: 8vw;
    margin-top: 59vw;
    margin-left: 4vw;
  }
  .n6 {
    font-size: 8vw;
    margin-top: 115vw;
    margin-left: 94vw;
  }
  .n7 {
    font-size: 8vw;
    margin-top: 122vw;
    margin-left: 94vw;
  }
  .n8 {
    font-size: 8vw;
    margin-top: 128vw;
    margin-left: 94vw;
  }
  .n9 {
    font-size: 8vw;
    margin-top: 135vw;
    margin-left: 94vw;
  }
  .n10 {
    font-size: 8vw;
    margin-top: 55vw;
    margin-left: 94vw;
  }
  .n11 {
    font-size: 8vw;
    margin-top: 63vw;
    margin-left: 94vw;
  }
  .n12 {
    font-size: 8vw;
    margin-top: 78vw;
    margin-left: 94vw;
  }
  .n13 {
    font-size: 8vw;
    margin-top: 85vw;
    margin-left: 94vw;
  }
  .n14 {
    font-size: 8vw;
    margin-top: 83vw;
    margin-left: 2vw;
  }
  .n15 {
    font-size: 8vw;
    margin-top: 91vw;
    margin-left: 2vw;
  }
  .n16 {
    font-size: 8vw;
    margin-top: 106vw;
    margin-left: 2vw;
  }
  .n17 {
    font-size: 8vw;
    margin-top: 114vw;
    margin-left: 2vw;
  }
  .n18 {
    font-size: 9vw;
    margin-top: 128vw;
    margin-left: 2vw;
  }
  .n19 {
    font-size: 9vw;
    margin-top: 136vw;
    margin-left: 2vw;
  }
  .n20 {
    font-size: 9vw;
    margin-top: 144vw;
    margin-left: 2vw;
  }
  .n21 {
    font-size: 9vw;
    margin-top: 152vw;
    margin-left: 2vw;
  }
  .n22 {
    font-size: 9vw;
    margin-top: 160vw;
    margin-left: 2vw;
  }
  .n23 {
    font-size: 9vw;
    margin-top: 144vw;
    margin-left: 17vw;
  }
  .n24 {
    font-size: 9vw;
    margin-top: 152vw;
    margin-left: 16.5vw;
  }
  .n25 {
    font-size: 9vw;
    margin-top: 160vw;
    margin-left: 17vw;
  }
  .n26 {
    font-size: 9vw;
    margin-top: 8vw;
    margin-left: 79vw;
  }
  .n27 {
    font-size: 9vw;
    margin-top: 16vw;
    margin-left: 79vw;
  }
  .n28 {
    font-size: 9vw;
    margin-top: 24vw;
    margin-left: 80vw;
  }
  .n29 {
    font-size: 9vw;
    margin-top: 8vw;
    margin-left: 92vw;
  }
  .n30 {
    font-size: 9vw;
    margin-top: 16vw;
    margin-left: 92vw;
  }
  .n31 {
    font-size: 9vw;
    margin-top: 24vw;
    margin-left: 91vw;
  }
  .n32 {
    font-size: 9vw;
    margin-top: 32vw;
    margin-left: 92vw;
  }
  .n33 {
    font-size: 6vw;
    margin-top: 130vw;
    margin-left: 63vw;
  }
  .n34 {
    font-size: 6vw;
    margin-top: 135vw;
    margin-left: 63vw;
  }
  .n35 {
    font-size: 6vw;
    margin-top: 126vw;
    margin-left: 67vw;
  }
  .n36 {
    font-size: 6vw;
    margin-top: 132vw;
    margin-left: 67vw;
  }
  .n37 {
    font-size: 6vw;
    margin-top: 138vw;
    margin-left: 67vw;
  }
  .n38 {
    font-size: 6vw;
    margin-top: 130vw;
    margin-left: 71vw;
  }
  .n39 {
    font-size: 6vw;
    margin-top: 135vw;
    margin-left: 71vw;
  }
  .n40 {
    font-size: 6vw;
    margin-top: 39vw;
    margin-left: 27vw;
  }
  .n41 {
    font-size: 6vw;
    margin-top: 44.5vw;
    margin-left: 27vw;
  }
  .n42 {
    font-size: 6vw;
    margin-top: 36vw;
    margin-left: 32vw;
  }
  .n43 {
    font-size: 6vw;
    margin-top: 42vw;
    margin-left: 32vw;
  }
  .n44 {
    font-size: 6vw;
    margin-top: 39vw;
    margin-left: 37vw;
  }
  .n45 {
    font-size: 6vw;
    margin-top: 44.5vw;
    margin-left: 37vw;
  }

  .gifimg {
    margin-top: 77vw;
    margin-left: 23vw;
    width: 55vw;
  }

  .blur {
    height: 150vw;
    margin-top: 4vw;
    margin-left: 28vw;
  }

  .bl {
    width: 30vw;
  }

  .rotate {
    height: 300vw;
    margin-top: 145vw;
    margin-left: 53vw;
  }

  .rotate1 {
    display: none;
  }

  .tree_1 {
    width: 50vw;
    margin-left: 80vw;
    margin-top: 145vw;
  }

  .star {
    width: 100vw;
    margin-top: 13.9vw;
    margin-left: 7vw;
  }

  .text {
    margin-top: 0.5vw;
    font-size: 7vw;
  }

  .text1 {
    margin-top: 170vw;
    font-size: 7vw;
  }

  .arrow {
    margin-top: 17.3vw;
    display: none;
  }

  .arrow_1 {
    margin-top: 34.3vw;
    display: none;
  }

  .arrow_2 {
    margin-top: 0vw;
    margin-left: 63vw;
  }

  .arrow_3 {
    margin-top: 125vw;
    margin-left: 33vw;
  }

  .container2 {
    margin-top: 113vw;
    margin-left: 29.5vw;
  }

  .c1 {
    width: 10vw;
  }

  .container3 {
    margin-top: 54.3vw;
    margin-left: 18vw;
  }

  .k1 {
    width: 10vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 11vw;
    display: none;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 87.3vw;
    margin-top: 40vw;
    display: none;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 79vw;
    margin-top: 45.75vw;
    display: none;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 25.3vw;
    display: none;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 73.5vw;
    margin-top: 25.3vw;
    display: none;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 45.3vw;
    display: none;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 68vw;
    margin-top: 4vw;
    display: none;
  }

  .t9 {
    font-size: 4vw;
    margin-left: 32.5vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t10 {
    font-size: 4vw;
    margin-left: 42.5vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t11 {
    font-size: 4vw;
    margin-left: 49vw;
    margin-top: 48.7vw;
    display: none;
  }

  .t12 {
    font-size: 4vw;
    margin-left: 58.5vw;
    margin-top: 48.7vw;
    display: none;
  }
}

@media screen and (min-width: 414px) and (orientation: portrait) {
  body {
    background-image: url("../img/mat/414.svg");
    background-repeat: no-repeat;
  }

  .n1 {
    font-size: 8vw;
    margin-top: 43vw;
    margin-left: 4vw;
  }
  .n2 {
    font-size: 8vw;
    margin-top: 50vw;
    margin-left: 4vw;
  }
  .n3 {
    font-size: 8vw;
    margin-top: 57vw;
    margin-left: 4vw;
  }
  .n4 {
    font-size: 8vw;
    margin-top: 63vw;
    margin-left: 3.8vw;
  }
  .n5 {
    font-size: 8vw;
    margin-top: 70vw;
    margin-left: 4vw;
  }
  .n6 {
    font-size: 8vw;
    margin-top: 140vw;
    margin-left: 94vw;
  }
  .n7 {
    font-size: 8vw;
    margin-top: 149vw;
    margin-left: 94vw;
  }
  .n8 {
    font-size: 8vw;
    margin-top: 157vw;
    margin-left: 94vw;
  }
  .n9 {
    font-size: 8vw;
    margin-top: 165vw;
    margin-left: 94vw;
  }
  .n10 {
    font-size: 8vw;
    margin-top: 67vw;
    margin-left: 94vw;
  }
  .n11 {
    font-size: 8vw;
    margin-top: 79vw;
    margin-left: 94vw;
  }
  .n12 {
    font-size: 8vw;
    margin-top: 95vw;
    margin-left: 94vw;
  }
  .n13 {
    font-size: 8vw;
    margin-top: 107vw;
    margin-left: 94vw;
  }
  .n14 {
    font-size: 8vw;
    margin-top: 99vw;
    margin-left: 2vw;
  }
  .n15 {
    font-size: 8vw;
    margin-top: 111vw;
    margin-left: 2vw;
  }
  .n16 {
    font-size: 8vw;
    margin-top: 129vw;
    margin-left: 2vw;
  }
  .n17 {
    font-size: 8vw;
    margin-top: 141vw;
    margin-left: 2vw;
  }
  .n18 {
    font-size: 9vw;
    margin-top: 163vw;
    margin-left: 2vw;
  }
  .n19 {
    font-size: 9vw;
    margin-top: 171vw;
    margin-left: 2vw;
  }
  .n20 {
    font-size: 9vw;
    margin-top: 179vw;
    margin-left: 2vw;
  }
  .n21 {
    font-size: 9vw;
    margin-top: 187vw;
    margin-left: 2vw;
  }
  .n22 {
    font-size: 9vw;
    margin-top: 195vw;
    margin-left: 2vw;
  }
  .n23 {
    font-size: 9vw;
    margin-top: 179vw;
    margin-left: 17vw;
  }
  .n24 {
    font-size: 9vw;
    margin-top: 187vw;
    margin-left: 16.5vw;
  }
  .n25 {
    font-size: 9vw;
    margin-top: 195vw;
    margin-left: 17vw;
  }
  .n26 {
    font-size: 9vw;
    margin-top: 12vw;
    margin-left: 79vw;
  }
  .n27 {
    font-size: 9vw;
    margin-top: 21vw;
    margin-left: 79vw;
  }
  .n28 {
    font-size: 9vw;
    margin-top: 30vw;
    margin-left: 80vw;
  }
  .n29 {
    font-size: 9vw;
    margin-top: 12vw;
    margin-left: 92vw;
  }
  .n30 {
    font-size: 9vw;
    margin-top: 21vw;
    margin-left: 92vw;
  }
  .n31 {
    font-size: 9vw;
    margin-top: 30vw;
    margin-left: 91vw;
  }
  .n32 {
    font-size: 9vw;
    margin-top: 39vw;
    margin-left: 92vw;
  }
  .n33 {
    font-size: 6vw;
    margin-top: 160vw;
    margin-left: 63vw;
  }
  .n34 {
    font-size: 6vw;
    margin-top: 165vw;
    margin-left: 63vw;
  }
  .n35 {
    font-size: 6vw;
    margin-top: 156vw;
    margin-left: 67vw;
  }
  .n36 {
    font-size: 6vw;
    margin-top: 162vw;
    margin-left: 67vw;
  }
  .n37 {
    font-size: 6vw;
    margin-top: 168vw;
    margin-left: 67vw;
  }
  .n38 {
    font-size: 6vw;
    margin-top: 160vw;
    margin-left: 71vw;
  }
  .n39 {
    font-size: 6vw;
    margin-top: 165vw;
    margin-left: 71vw;
  }
  .n40 {
    font-size: 6vw;
    margin-top: 49vw;
    margin-left: 27vw;
  }
  .n41 {
    font-size: 6vw;
    margin-top: 55vw;
    margin-left: 27vw;
  }
  .n42 {
    font-size: 6vw;
    margin-top: 46vw;
    margin-left: 32vw;
  }
  .n43 {
    font-size: 6vw;
    margin-top: 52vw;
    margin-left: 32vw;
  }
  .n44 {
    font-size: 6vw;
    margin-top: 49vw;
    margin-left: 37vw;
  }
  .n45 {
    font-size: 6vw;
    margin-top: 55vw;
    margin-left: 37vw;
  }

  .gifimg {
    margin-top: 93vw;
    margin-left: 17vw;
    width: 65vw;
  }

  .blur {
    height: 450vw;
    margin-top: 10vw;
    margin-left: 25vw;
  }

  .bl {
    width: 30vw;
  }

  .rotate {
    height: 300vw;
    margin-top: 183vw;
    margin-left: 55vw;
  }

  .rotate1 {
    display: none;
  }

  .tree_1 {
    width: 45vw;
    margin-left: 80vw;
    margin-top: 180vw;
  }

  .star {
    width: 30vw;
    margin-top: 20vw;
    margin-left: 7vw;
  }

  .text {
    margin: 0;
    font-size: 9vw;
  }

  .text1 {
    margin-top: 207.5vw;
    font-size: 9vw;
  }

  .arrow {
    margin-top: 17.3vw;
    display: none;
  }

  .arrow_1 {
    margin-top: 34.3vw;
    display: none;
  }

  .arrow_2 {
    /* margin-top: -20vw; */
    margin-left: 63vw;
  }

  .arrow_3 {
    margin-top: 155vw;
    margin-left: 30vw;
  }

  .container2 {
    margin-top: 140vw;
    margin-left: 34vw;
  }

  .c1 {
    width: 8vw;
  }

  .container3 {
    margin-top: 68vw;
    margin-left: 23vw;
  }

  .k1 {
    width: 8vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 11vw;
    display: none;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 87.3vw;
    margin-top: 40vw;
    display: none;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 79vw;
    margin-top: 45.75vw;
    display: none;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 25.3vw;
    display: none;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 73.5vw;
    margin-top: 25.3vw;
    display: none;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 45.3vw;
    display: none;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 68vw;
    margin-top: 4vw;
    display: none;
  }

  .t9 {
    font-size: 4vw;
    margin-left: 32.5vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t10 {
    font-size: 4vw;
    margin-left: 42.5vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t11 {
    font-size: 4vw;
    margin-left: 49vw;
    margin-top: 48.7vw;
    display: none;
  }

  .t12 {
    font-size: 4vw;
    margin-left: 58.5vw;
    margin-top: 48.7vw;
    display: none;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  body {
    background-image: url("../img/mat/768.svg");
    background-repeat: no-repeat;
  }

  .n1 {
    font-size: 6vw;
    margin-top: 25vw;
    margin-left: 6vw;
  }
  .n2 {
    font-size: 6vw;
    margin-top: 30vw;
    margin-left: 6vw;
  }
  .n3 {
    font-size: 6vw;
    margin-top: 35vw;
    margin-left: 6vw;
  }
  .n4 {
    font-size: 6vw;
    margin-top: 40vw;
    margin-left: 5.8vw;
  }
  .n5 {
    font-size: 6vw;
    margin-top: 45vw;
    margin-left: 6vw;
  }
  .n6 {
    font-size: 6vw;
    margin-top: 86vw;
    margin-left: 92.5vw;
  }
  .n7 {
    font-size: 6vw;
    margin-top: 91vw;
    margin-left: 92.5vw;
  }
  .n8 {
    font-size: 6vw;
    margin-top: 97vw;
    margin-left: 92.5vw;
  }
  .n9 {
    font-size: 6vw;
    margin-top: 102vw;
    margin-left: 92.5vw;
  }
  .n10 {
    font-size: 7vw;
    margin-top: 42vw;
    margin-left: 94vw;
  }
  .n11 {
    font-size: 7vw;
    margin-top: 49vw;
    margin-left: 94vw;
  }
  .n12 {
    font-size: 7vw;
    margin-top: 58vw;
    margin-left: 94vw;
  }
  .n13 {
    font-size: 7vw;
    margin-top: 65vw;
    margin-left: 94vw;
  }
  .n14 {
    font-size: 7vw;
    margin-top: 62vw;
    margin-left: 2vw;
  }
  .n15 {
    font-size: 7vw;
    margin-top: 68vw;
    margin-left: 2vw;
  }
  .n16 {
    font-size: 7vw;
    margin-top: 79vw;
    margin-left: 2vw;
  }
  .n17 {
    font-size: 7vw;
    margin-top: 85vw;
    margin-left: 2vw;
  }
  .n18 {
    font-size: 6vw;
    margin-top: 97vw;
    margin-left: 2vw;
  }
  .n19 {
    font-size: 6vw;
    margin-top: 103vw;
    margin-left: 2vw;
  }
  .n20 {
    font-size: 6vw;
    margin-top: 109vw;
    margin-left: 2vw;
  }
  .n21 {
    font-size: 6vw;
    margin-top: 115vw;
    margin-left: 2vw;
  }
  .n22 {
    font-size: 6vw;
    margin-top: 121vw;
    margin-left: 2vw;
  }
  .n23 {
    font-size: 6vw;
    margin-top: 109vw;
    margin-left: 17vw;
  }
  .n24 {
    font-size: 6vw;
    margin-top: 115vw;
    margin-left: 16.5vw;
  }
  .n25 {
    font-size: 6vw;
    margin-top: 121vw;
    margin-left: 17vw;
  }
  .n26 {
    font-size: 6vw;
    margin-top: 7vw;
    margin-left: 79vw;
  }
  .n27 {
    font-size: 6vw;
    margin-top: 12.5vw;
    margin-left: 79vw;
  }
  .n28 {
    font-size: 6vw;
    margin-top: 18vw;
    margin-left: 79.5vw;
  }
  .n29 {
    font-size: 6vw;
    margin-top: 7vw;
    margin-left: 92vw;
  }
  .n30 {
    font-size: 6vw;
    margin-top: 12.5vw;
    margin-left: 92vw;
  }
  .n31 {
    font-size: 6vw;
    margin-top: 18vw;
    margin-left: 91vw;
  }
  .n32 {
    font-size: 6vw;
    margin-top: 23.5vw;
    margin-left: 92vw;
  }
  .n33 {
    font-size: 5vw;
    margin-top: 97vw;
    margin-left: 59vw;
  }
  .n34 {
    font-size: 5vw;
    margin-top: 102vw;
    margin-left: 59vw;
  }
  .n35 {
    font-size: 5vw;
    margin-top: 95vw;
    margin-left: 63vw;
  }
  .n36 {
    font-size: 5vw;
    margin-top: 100vw;
    margin-left: 63vw;
  }
  .n37 {
    font-size: 5vw;
    margin-top: 105vw;
    margin-left: 63vw;
  }
  .n38 {
    font-size: 5vw;
    margin-top: 97vw;
    margin-left: 68vw;
  }
  .n39 {
    font-size: 5vw;
    margin-top: 102vw;
    margin-left: 68vw;
  }
  .n40 {
    font-size: 5vw;
    margin-top: 29vw;
    margin-left: 27vw;
  }
  .n41 {
    font-size: 5vw;
    margin-top: 33vw;
    margin-left: 27vw;
  }
  .n42 {
    font-size: 5vw;
    margin-top: 25vw;
    margin-left: 32vw;
  }
  .n43 {
    font-size: 5vw;
    margin-top: 30vw;
    margin-left: 32vw;
  }
  .n44 {
    font-size: 5vw;
    margin-top: 29vw;
    margin-left: 37vw;
  }
  .n45 {
    font-size: 5vw;
    margin-top: 33vw;
    margin-left: 37vw;
  }

  .gifimg {
    margin-top: 56vw;
    margin-left: 28vw;
    width: 45vw;
  }

  .blur {
    height: 450vw;
    margin-top: 2.5vw;
    margin-left: 30vw;
  }

  .bl {
    width: 22vw;
  }

  .rotate1 {
    height: 300vw;
    margin-top: 110vw;
    margin-left: 50vw;
    display: block;
  }

  .rotate {
    display: none;
  }

  .tree_1 {
    width: 35vw;
    margin-left: 80vw;
    margin-top: 110vw;
  }

  .star {
    width: 20vw;
    margin-top: 9vw;
    margin-left: 6vw;
  }

  .text {
    margin: 0;
    font-size: 5vw;
  }

  .text1 {
    margin-top: 128vw;
    font-size: 5vw;
  }

  .arrow {
    margin-top: 17.3vw;
    display: none;
  }

  .arrow_1 {
    margin-top: 34.3vw;
    display: none;
  }

  .arrow_2 {
    margin-top: 17.3vw;
  }

  .arrow_3 {
    margin-top: 17.3vw;
  }

  .container2 {
    margin-top: 85vw;
    margin-left: 36vw;
  }

  .c1 {
    width: 7vw;
  }

  .container3 {
    margin-top: 40.5vw;
    margin-left: 27vw;
  }

  .k1 {
    width: 7vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 11vw;
    display: none;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 87.3vw;
    margin-top: 40vw;
    display: none;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 79vw;
    margin-top: 45.75vw;
    display: none;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 25.3vw;
    display: none;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 73.5vw;
    margin-top: 25.3vw;
    display: none;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 45.3vw;
    display: none;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 68vw;
    margin-top: 4vw;
    display: none;
  }

  .t9 {
    font-size: 4vw;
    margin-left: 32.5vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t10 {
    font-size: 4vw;
    margin-left: 42.5vw;
    margin-top: 3.7vw;
    display: none;
  }

  .t11 {
    font-size: 4vw;
    margin-left: 49vw;
    margin-top: 48.7vw;
    display: none;
  }

  .t12 {
    font-size: 4vw;
    margin-left: 58.5vw;
    margin-top: 48.7vw;
    display: none;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  body {
    background-image: url("../img/mat/1024.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7,
  .n8,
  .n9,
  .n10,
  .n11,
  .n12,
  .n13,
  .n14,
  .n15,
  .n16,
  .n17,
  .n18,
  .n19,
  .n20,
  .n21,
  .n22,
  .n23,
  .n24,
  .n25,
  .n26,
  .n27,
  .n28,
  .n29,
  .n30,
  .n31,
  .n32,
  .n33,
  .n34,
  .n35,
  .n36,
  .n37,
  .n38,
  .n39,
  .n40,
  .n41,
  .n42,
  .n43,
  .n44,
  .n45 {
    display: none;
  }

  .arrow_2,
  .arrow_3 {
    display: none;
  }

  .gifimg {
    margin-top: 27.5vw;
    margin-left: 32vw;
    width: 37vw;
  }

  .tree_1 {
    width: 38vw;
    margin-left: -1vw;
    margin-top: 50vw;
  }

  .star {
    width: 25vw;
    margin-top: 7vw;
    margin-left: 88vw;
  }

  .blur {
    height: 350vw;
    margin-top: 32vw;
    margin-left: -3vw;
  }

  .bl {
    width: 20vw;
  }

  .rotate {
    height: 250vw;
    margin-top: 19vw;
    margin-left: 86vw;
  }

  .rotate1 {
    display: none;
  }

  .text {
    margin: 0;
    font-size: 3vw;
  }

  .text1 {
    margin-top: 71.7vw;
    font-size: 3vw;
  }

  .arrow {
    margin-top: 22vw;
    width: 100vw;
  }

  .ar {
    width: 15vw;
  }

  .arrow_1 {
    margin-top: 46vw;
    width: 100vw;
  }

  .ar1 {
    width: 15vw;
  }

  .container2 {
    margin-top: 53.5vw;
    margin-left: 21vw;
  }

  .c1 {
    width: 5vw;
  }

  .container3 {
    margin-top: 14vw;
    margin-left: 48vw;
  }

  .k1 {
    width: 5vw;
  }

  .t1 {
    font-size: 7vw;
    margin-left: 2vw;
    margin-top: 4.5vw;
  }

  .t2 {
    font-size: 5.5vw;
    margin-left: 2vw;
    margin-top: 13.5vw;
  }

  .t3 {
    font-size: 5.5vw;
    margin-left: 88.7vw;
    margin-top: 54.5vw;
  }

  .t4 {
    font-size: 7vw;
    margin-left: 79.5vw;
    margin-top: 63vw;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 35vw;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 74.5vw;
    margin-top: 35vw;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 63vw;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 70vw;
    margin-top: 4.5vw;
  }

  .t9 {
    font-size: 5vw;
    margin-left: 32.5vw;
    margin-top: 3.7vw;
  }

  .t10 {
    font-size: 5vw;
    margin-left: 42.5vw;
    margin-top: 3.7vw;
  }

  .t11 {
    font-size: 5vw;
    margin-left: 49vw;
    margin-top: 66.5vw;
  }

  .t12 {
    font-size: 5vw;
    margin-left: 58.5vw;
    margin-top: 66.5vw;
  }
}

/* @media screen and (min-width: 1024px) and (min-height: 1365px) and (orientation: portrait) {
  body {
    background-image: url("../img/mat/1024_1366.svg");
    background-repeat: no-repeat;
  }

  .n1 {
    font-size: 8vw;
    margin-top: 33vw;
    margin-left: 4vw;
  }
  .n2 {
    font-size: 8vw;
    margin-top: 39.7vw;
    margin-left: 4vw;
  }
  .n3 {
    font-size: 8vw;
    margin-top: 46vw;
    margin-left: 4vw;
  }
  .n4 {
    font-size: 8vw;
    margin-top: 53vw;
    margin-left: 3.8vw;
  }
  .n5 {
    font-size: 8vw;
    margin-top: 59vw;
    margin-left: 4vw;
  }
  .n6 {
    font-size: 8vw;
    margin-top: 115vw;
    margin-left: 94vw;
  }
  .n7 {
    font-size: 8vw;
    margin-top: 122vw;
    margin-left: 94vw;
  }
  .n8 {
    font-size: 8vw;
    margin-top: 128vw;
    margin-left: 94vw;
  }
  .n9 {
    font-size: 8vw;
    margin-top: 135vw;
    margin-left: 94vw;
  }
  .n10 {
    font-size: 8vw;
    margin-top: 55vw;
    margin-left: 94vw;
  }
  .n11 {
    font-size: 8vw;
    margin-top: 63vw;
    margin-left: 94vw;
  }
  .n12 {
    font-size: 8vw;
    margin-top: 78vw;
    margin-left: 94vw;
  }
  .n13 {
    font-size: 8vw;
    margin-top: 85vw;
    margin-left: 94vw;
  }
  .n14 {
    font-size: 8vw;
    margin-top: 83vw;
    margin-left: 2vw;
  }
  .n15 {
    font-size: 8vw;
    margin-top: 91vw;
    margin-left: 2vw;
  }
  .n16 {
    font-size: 8vw;
    margin-top: 106vw;
    margin-left: 2vw;
  }
  .n17 {
    font-size: 8vw;
    margin-top: 114vw;
    margin-left: 2vw;
  }
  .n18 {
    font-size: 9vw;
    margin-top: 128vw;
    margin-left: 2vw;
  }
  .n19 {
    font-size: 9vw;
    margin-top: 136vw;
    margin-left: 2vw;
  }
  .n20 {
    font-size: 9vw;
    margin-top: 144vw;
    margin-left: 2vw;
  }
  .n21 {
    font-size: 9vw;
    margin-top: 152vw;
    margin-left: 2vw;
  }
  .n22 {
    font-size: 9vw;
    margin-top: 160vw;
    margin-left: 2vw;
  }
  .n23 {
    font-size: 9vw;
    margin-top: 144vw;
    margin-left: 17vw;
  }
  .n24 {
    font-size: 9vw;
    margin-top: 152vw;
    margin-left: 16.5vw;
  }
  .n25 {
    font-size: 9vw;
    margin-top: 160vw;
    margin-left: 17vw;
  }
  .n26 {
    font-size: 9vw;
    margin-top: 8vw;
    margin-left: 79vw;
  }
  .n27 {
    font-size: 9vw;
    margin-top: 16vw;
    margin-left: 79vw;
  }
  .n28 {
    font-size: 9vw;
    margin-top: 24vw;
    margin-left: 80vw;
  }
  .n29 {
    font-size: 9vw;
    margin-top: 8vw;
    margin-left: 92vw;
  }
  .n30 {
    font-size: 9vw;
    margin-top: 16vw;
    margin-left: 92vw;
  }
  .n31 {
    font-size: 9vw;
    margin-top: 24vw;
    margin-left: 91vw;
  }
  .n32 {
    font-size: 9vw;
    margin-top: 32vw;
    margin-left: 92vw;
  }
  .n33 {
    font-size: 6vw;
    margin-top: 130vw;
    margin-left: 63vw;
  }
  .n34 {
    font-size: 6vw;
    margin-top: 135vw;
    margin-left: 63vw;
  }
  .n35 {
    font-size: 6vw;
    margin-top: 126vw;
    margin-left: 67vw;
  }
  .n36 {
    font-size: 6vw;
    margin-top: 132vw;
    margin-left: 67vw;
  }
  .n37 {
    font-size: 6vw;
    margin-top: 138vw;
    margin-left: 67vw;
  }
  .n38 {
    font-size: 6vw;
    margin-top: 130vw;
    margin-left: 71vw;
  }
  .n39 {
    font-size: 6vw;
    margin-top: 135vw;
    margin-left: 71vw;
  }
  .n40 {
    font-size: 6vw;
    margin-top: 39vw;
    margin-left: 27vw;
  }
  .n41 {
    font-size: 6vw;
    margin-top: 44.5vw;
    margin-left: 27vw;
  }
  .n42 {
    font-size: 6vw;
    margin-top: 36vw;
    margin-left: 32vw;
  }
  .n43 {
    font-size: 6vw;
    margin-top: 42vw;
    margin-left: 32vw;
  }
  .n44 {
    font-size: 6vw;
    margin-top: 39vw;
    margin-left: 37vw;
  }
  .n45 {
    font-size: 6vw;
    margin-top: 44.5vw;
    margin-left: 37vw;
  }

  .gifimg {
    margin-top: 0vw;
    margin-left: 32.5vw;
    width: 37vw;
  }

  .blur {
    height: 450vw;
    margin-top: 25.7vw;
    margin-left: -2vw;
  }

  .rotate {
    height: 300vw;
    margin-top: 16vw;
    margin-left: 86.7vw;
  }

  .tree_1 {
    width: 35vw;
    margin-left: -2vw;
    margin-top: 38.3vw;
  }

  .star {
    width: 10vw;
    margin-top: 4.9vw;
    margin-left: 85vw;
  }

  .text {
    margin: 0;
    font-size: 32vw;
  }

  .text1 {
    margin-top: 53vw;
    font-size: 3vw;
  }

  .arrow {
    margin-top: 17.3vw;
    display: none;
  }

  .arrow_1 {
    margin-top: 34.3vw;
    display: none;
  }

  .arrow_2 {
    margin-top: 17.3vw;
  }

  .arrow_3 {
    margin-top: 17.3vw;
  }

  .container2 {
    margin-top: 38.9vw;
    margin-left: 21vw;
  }

  .c1 {
    width: 5vw;
  }

  .container3 {
    margin-top: 10.65vw;
    margin-left: 46.5vw;
  }

  .k1 {
    width: 5vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3.7vw;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 11vw;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 87.3vw;
    margin-top: 40vw;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 79vw;
    margin-top: 45.75vw;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 25.3vw;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 73.5vw;
    margin-top: 25.3vw;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 45.3vw;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 68vw;
    margin-top: 4vw;
  }

  .t9 {
    font-size: 4vw;
    margin-left: 32.5vw;
    margin-top: 3.7vw;
  }

  .t10 {
    font-size: 4vw;
    margin-left: 42.5vw;
    margin-top: 3.7vw;
  }

  .t11 {
    font-size: 4vw;
    margin-left: 49vw;
    margin-top: 48.7vw;
  }

  .t12 {
    font-size: 4vw;
    margin-left: 58.5vw;
    margin-top: 48.7vw;
  }
} */

@media screen and (min-width: 1366px) and (orientation: landscape) {
  body {
    background-image: url("../img/mat/1366.svg");
    background-repeat: no-repeat;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7,
  .n8,
  .n9,
  .n10,
  .n11,
  .n12,
  .n13,
  .n14,
  .n15,
  .n16,
  .n17,
  .n18,
  .n19,
  .n20,
  .n21,
  .n22,
  .n23,
  .n24,
  .n25,
  .n26,
  .n27,
  .n28,
  .n29,
  .n30,
  .n31,
  .n32,
  .n33,
  .n34,
  .n35,
  .n36,
  .n37,
  .n38,
  .n39,
  .n40,
  .n41,
  .n42,
  .n43,
  .n44,
  .n45 {
    display: none;
  }

  .arrow_2,
  .arrow_3 {
    display: none;
  }

  .gifimg {
    margin-top: 25vw;
    margin-left: 32.5vw;
    width: 37vw;
  }

  .blur {
    height: 450vw;
    margin-top: 25.7vw;
    margin-left: -2vw;
  }

  .rotate1 {
    height: 300vw;
    margin-top: 24.5vw;
    margin-left: 87.7vw;
    display: block;
  }

  .rotate {
    display: none;
  }

  .tree_1 {
    width: 35vw;
    margin-left: -2vw;
    margin-top: 38.3vw;
  }

  .star {
    width: 10vw;
    margin-top: 4.9vw;
    margin-left: 85vw;
  }

  .text {
    margin: 0;
    font-size: 3vw;
  }

  .text1 {
    margin-top: 53vw;
    font-size: 3vw;
  }

  .arrow {
    margin-top: 17vw;
    width: 15vw;
  }

  .ar {
    width: 15vw;
  }

  .arrow_1 {
    margin-top: 34.3vw;
  }

  .ar1 {
    width: 15vw;
  }

  .container2 {
    margin-top: 38.9vw;
    margin-left: 21vw;
  }

  .c1 {
    width: 5vw;
  }

  .container3 {
    margin-top: 10.65vw;
    margin-left: 46.5vw;
  }

  .k1 {
    width: 5vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3.7vw;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 11vw;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 87.3vw;
    margin-top: 40vw;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 79vw;
    margin-top: 45.75vw;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 25.3vw;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 73.5vw;
    margin-top: 25.3vw;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 45.3vw;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 68vw;
    margin-top: 4vw;
  }

  .t9 {
    font-size: 4vw;
    margin-left: 32.5vw;
    margin-top: 3.7vw;
  }

  .t10 {
    font-size: 4vw;
    margin-left: 42.5vw;
    margin-top: 3.7vw;
  }

  .t11 {
    font-size: 4vw;
    margin-left: 49vw;
    margin-top: 48.7vw;
  }

  .t12 {
    font-size: 4vw;
    margin-left: 58.5vw;
    margin-top: 48.7vw;
  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  body {
    background-image: url("../img/mat/1280.svg");
    background-repeat: no-repeat;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7,
  .n8,
  .n9,
  .n10,
  .n11,
  .n12,
  .n13,
  .n14,
  .n15,
  .n16,
  .n17,
  .n18,
  .n19,
  .n20,
  .n21,
  .n22,
  .n23,
  .n24,
  .n25,
  .n26,
  .n27,
  .n28,
  .n29,
  .n30,
  .n31,
  .n32,
  .n33,
  .n34,
  .n35,
  .n36,
  .n37,
  .n38,
  .n39,
  .n40,
  .n41,
  .n42,
  .n43,
  .n44,
  .n45 {
    display: none;
  }

  .arrow_2,
  .arrow_3 {
    display: none;
  }

  .gifimg {
    margin-top: 25vw;
    margin-left: 32.5vw;
    width: 37vw;
  }

  .blur {
    height: 100vw;
    margin-top: 29.5vw;
    margin-left: -3vw;
  }

  .bl {
    width: 20vw;
  }

  .rotate1 {
    height: 450vw;
    margin-top: 24.5vw;
    margin-left: 88vw;
    display: block;
  }

  .rotate {
    display: none;
  }

  .tree_1 {
    width: 38vw;
    margin-left: -1vw;
    margin-top: 47vw;
  }

  .star {
    width: 15vw;
    margin-top: 7vw;
    margin-left: 87vw;
  }

  .text {
    margin: 0;
    font-size: 4vw;
  }

  .text1 {
    margin-top: 66.2vw;
    font-size: 4vw;
  }

  .arrow {
    margin-top: 22vw;
    width: 100vw;
  }

  .ar {
    width: 15vw;
  }

  .arrow_1 {
    margin-top: 44vw;
    width: 100vw;
  }

  .ar1 {
    width: 15vw;
  }

  .container2 {
    margin-top: 49.7vw;
    margin-left: 20.7vw;
  }

  .c1 {
    width: 5vw;
  }

  .container3 {
    margin-top: 13.7vw;
    margin-left: 48.5vw;
  }

  .k1 {
    width: 5vw;
  }

  .t1 {
    font-size: 7vw;
    margin-left: 2.5vw;
    margin-top: 4.5vw;
  }

  .t2 {
    font-size: 5.5vw;
    margin-left: 2.5vw;
    margin-top: 13.5vw;
  }

  .t3 {
    font-size: 5.5vw;
    margin-left: 87.3vw;
    margin-top: 50.5vw;
  }

  .t4 {
    font-size: 7vw;
    margin-left: 78vw;
    margin-top: 58vw;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17vw;
    margin-top: 32vw;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 74vw;
    margin-top: 32.5vw;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 58vw;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 68vw;
    margin-top: 5vw;
  }

  .t9 {
    font-size: 5vw;
    margin-left: 32.5vw;
    margin-top: 4vw;
  }

  .t10 {
    font-size: 5vw;
    margin-left: 42.5vw;
    margin-top: 4vw;
  }

  .t11 {
    font-size: 5vw;
    margin-left: 49.5vw;
    margin-top: 59.5vw;
  }

  .t12 {
    font-size: 5vw;
    margin-left: 60vw;
    margin-top: 59.5vw;
  }
}

@media screen and (min-width: 1440px) and (orientation: landscape) {
  body {
    background-image: url("../img/mat/1440.svg");
    background-repeat: no-repeat;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7,
  .n8,
  .n9,
  .n10,
  .n11,
  .n12,
  .n13,
  .n14,
  .n15,
  .n16,
  .n17,
  .n18,
  .n19,
  .n20,
  .n21,
  .n22,
  .n23,
  .n24,
  .n25,
  .n26,
  .n27,
  .n28,
  .n29,
  .n30,
  .n31,
  .n32,
  .n33,
  .n34,
  .n35,
  .n36,
  .n37,
  .n38,
  .n39,
  .n40,
  .n41,
  .n42,
  .n43,
  .n44,
  .n45 {
    display: none;
  }

  .arrow_2,
  .arrow_3 {
    display: none;
  }

  .gifimg {
    margin-top: 23vw;
    margin-left: 35vw;
    width: 30vw;
  }

  .blur {
    height: 150vw;
    margin-top: 24.5vw;
    margin-left: -3vw;
  }

  .bl {
    width: 20vw;
  }

  .rotate1 {
    height: 200vw;
    margin-top: 20vw;
    margin-left: 86.5vw;
    display: block;
  }

  .rotate {
    display: none;
  }

  .tree_1 {
    width: 38vw;
    margin-left: -1vw;
    margin-top: 41vw;
  }

  .star {
    width: 8vw;
    margin-top: 6vw;
    margin-left: 87.5vw;
  }

  .text {
    margin: 0;
    font-size: 3vw;
  }

  .text1 {
    margin-top: 59.5vw;
    font-size: 3vw;
  }

  .arrow {
    margin-top: 18.7vw;
  }

  .arrow_1 {
    margin-top: 38vw;
  }

  .container2 {
    margin-top: 44vw;
    margin-left: 20.3vw;
  }

  .c1 {
    width: 5vw;
  }

  .container3 {
    margin-top: 11.5vw;
    margin-left: 48.3vw;
  }

  .k1 {
    width: 5vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3.7vw;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 11vw;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 89.7vw;
    margin-top: 45vw;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 81vw;
    margin-top: 52vw;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 28.5vw;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 74.5vw;
    margin-top: 28.5vw;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 51.5vw;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 70vw;
    margin-top: 4vw;
  }

  .t9 {
    font-size: 5vw;
    margin-left: 31vw;
    margin-top: 3vw;
  }

  .t10 {
    font-size: 5vw;
    margin-left: 42.5vw;
    margin-top: 3vw;
  }

  .t11 {
    font-size: 5vw;
    margin-left: 48vw;
    margin-top: 54.7vw;
  }

  .t12 {
    font-size: 5vw;
    margin-left: 61vw;
    margin-top: 54.7vw;
  }
}

@media screen and (min-width: 1680px) and (orientation: landscape) {
  body {
    background-image: url("../img/mat/1680.svg");
    background-repeat: no-repeat;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7,
  .n8,
  .n9,
  .n10,
  .n11,
  .n12,
  .n13,
  .n14,
  .n15,
  .n16,
  .n17,
  .n18,
  .n19,
  .n20,
  .n21,
  .n22,
  .n23,
  .n24,
  .n25,
  .n26,
  .n27,
  .n28,
  .n29,
  .n30,
  .n31,
  .n32,
  .n33,
  .n34,
  .n35,
  .n36,
  .n37,
  .n38,
  .n39,
  .n40,
  .n41,
  .n42,
  .n43,
  .n44,
  .n45 {
    display: none;
  }

  .arrow_2,
  .arrow_3 {
    display: none;
  }

  .gifimg {
    margin-top: 23vw;
    margin-left: 35vw;
    width: 30vw;
  }

  .blur {
    height: 380vw;
    margin-top: 25vw;
    margin-left: -2.5vw;
  }

  .rotate1 {
    height: 450vw;
    margin-top: 20.3vw;
    margin-left: 87.7vw;
    display: block;
  }

  .rotate {
    display: none;
  }

  .tree_1 {
    width: 35vw;
    margin-left: -1vw;
    margin-top: 41vw;
  }

  .star {
    width: 10vw;
    margin-top: 5.7vw;
    margin-left: 87vw;
  }

  .text {
    margin: 0;
    font-size: 3vw;
  }

  .text1 {
    margin-top: 59.5vw;
    font-size: 3vw;
  }

  .arrow {
    margin-top: 18.5vw;
  }

  .arrow_1 {
    margin-top: 38vw;
  }

  .container2 {
    margin-top: 44vw;
    margin-left: 20.7vw;
  }

  .c1 {
    width: 5vw;
  }

  .container3 {
    margin-top: 11.4vw;
    margin-left: 46.5vw;
  }

  .k1 {
    width: 5vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3.7vw;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 11vw;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 87.3vw;
    margin-top: 45.5vw;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 79vw;
    margin-top: 52.5vw;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 17.5vw;
    margin-top: 28.5vw;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 73.5vw;
    margin-top: 28.5vw;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 20.5vw;
    margin-top: 51.5vw;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 68vw;
    margin-top: 4vw;
  }

  .t9 {
    font-size: 5vw;
    margin-left: 31vw;
    margin-top: 3vw;
  }

  .t10 {
    font-size: 5vw;
    margin-left: 42.5vw;
    margin-top: 3vw;
  }

  .t11 {
    font-size: 5vw;
    margin-left: 47vw;
    margin-top: 54.7vw;
  }

  .t12 {
    font-size: 5vw;
    margin-left: 59vw;
    margin-top: 54.7vw;
  }
}

@media screen and (min-width: 1920px) and (orientation: landscape) {
  body {
    background: #880707;
  }

  .n1,
  .n2,
  .n3,
  .n4,
  .n5,
  .n6,
  .n7,
  .n8,
  .n9,
  .n10,
  .n11,
  .n12,
  .n13,
  .n14,
  .n15,
  .n16,
  .n17,
  .n18,
  .n19,
  .n20,
  .n21,
  .n22,
  .n23,
  .n24,
  .n25,
  .n26,
  .n27,
  .n28,
  .n29,
  .n30,
  .n31,
  .n32,
  .n33,
  .n34,
  .n35,
  .n36,
  .n37,
  .n38,
  .n39,
  .n40,
  .n41,
  .n42,
  .n43,
  .n44,
  .n45 {
    display: none;
  }

  .gifimg {
    margin-top: 20vw;
    margin-left: 36vw;
    width: 30vw;
  }

  .blur {
    height: 450vw;
    margin-top: 23.9vw;
    margin-left: -2vw;
  }

  .bl {
    width: 19vw;
  }

  .rotate {
    display: none;
  }

  .rotate1 {
    height: 150vw;
    margin-top: 16.7vw;
    margin-left: 86.7vw;
  }

  .rot {
    width: 10vw;
  }

  .tree_1 {
    width: 35vw;
    margin-left: 0vw;
    margin-top: 38.3vw;
  }

  .star {
    width: 10vw;
    margin-top: 4.3vw;
    margin-left: 85vw;
  }

  .text {
    margin: 0;
    font-size: 3vw;
  }

  .text1 {
    margin-top: 53vw;
    font-size: 3vw;
  }

  .arrow {
    width: 450vw;
    margin-top: 17.3vw;
  }

  .arrow_1 {
    width: 450vw;
    margin-top: 34.3vw;
  }

  .arrow_2,
  .arrow_3 {
    display: none;
  }

  .ar {
    width: 20vw;
  }

  .ar1 {
    width: 20vw;
  }

  .container2 {
    margin-top: 39.1vw;
    margin-left: 21.7vw;
  }

  .container3 {
    margin-top: 10vw;
    margin-left: 46.5vw;
  }

  .t1 {
    font-size: 6.5vw;
    margin-left: 2vw;
    margin-top: 3vw;
  }

  .t2 {
    font-size: 5vw;
    margin-left: 2vw;
    margin-top: 10vw;
  }

  .t3 {
    font-size: 5vw;
    margin-left: 87.7vw;
    margin-top: 40.5vw;
  }

  .t4 {
    font-size: 6.5vw;
    margin-left: 79vw;
    margin-top: 46.3vw;
  }

  .t5 {
    font-size: 4vw;
    margin-left: 19.5vw;
    margin-top: 25.3vw;
  }

  .t6 {
    font-size: 4vw;
    margin-left: 72.3vw;
    margin-top: 25.3vw;
  }

  .t7 {
    font-size: 6.5vw;
    margin-left: 22vw;
    margin-top: 46vw;
  }

  .t8 {
    font-size: 6.5vw;
    margin-left: 66.5vw;
    margin-top: 3.2vw;
  }

  .t9 {
    font-size: 4vw;
    margin-left: 32.5vw;
    margin-top: 3.1vw;
  }

  .t10 {
    font-size: 4vw;
    margin-left: 42.5vw;
    margin-top: 3.1vw;
  }

  .t11 {
    font-size: 4vw;
    margin-left: 49vw;
    margin-top: 49.2vw;
  }

  .t12 {
    font-size: 4vw;
    margin-left: 58.5vw;
    margin-top: 49.2vw;
  }

  #yellow1 {
    height: 13.3vw;
    width: 42vw;
    background: #e4d82f;
    padding: 0 0 0 0;
    position: absolute;
  }

  #green1 {
    height: 7.6vw;
    width: 32vw;
    background: #99a82f;
    padding: 0 0 0 0;
    position: absolute;
    margin-top: 13.2vw;
  }

  #red1 {
    height: 20.5vw;
    width: 16.4vw;
    background: #951919;
    padding: 0 0 0 0;
    position: absolute;
    margin-top: 18.7vw;
  }

  #blue1 {
    height: 11vw;
    width: 24.2vw;
    background: #35ad7f;
    padding: 0 0 0 0;
    position: absolute;
    margin-top: 39.2vw;
  }

  #green4 {
    height: 12.7vw;
    width: 29.4vw;
    background: #99a82f;
    position: absolute;
    margin-left: 70.6vw;
  }

  #yellow7 {
    height: 13.95vw;
    width: 46.5vw;
    background: #e4d82f;
    position: absolute;
    margin-top: 36.2vw;
    margin-left: 53.5vw;
  }

  #red4 {
    height: 18vw;
    width: 17.2vw;
    background: #951919;
    position: absolute;
    margin-top: 12.7vw;
    margin-left: 82.8vw;
  }

  #orange4 {
    height: 8.3vw;
    width: 34vw;
    background: #b47208;
    position: absolute;
    margin-top: 27.9vw;
    margin-left: 66vw;
  }

  #green3 {
    height: 7.2vw;
    width: 20.8vw;
    background: #99a82f;
    position: absolute;
    margin-left: 37.6vw;
  }

  #blue2 {
    height: 6.8vw;
    width: 23.2vw;
    background: #35ad7f;
    position: absolute;
    margin-top: 6.5vw;
    margin-left: 14.5vw;
  }

  #orange1 {
    height: 4.15vw;
    width: 26.6vw;
    background: #b47208;
    position: absolute;
    margin-left: 24.1vw;
  }

  #yellow4 {
    height: 7.1vw;
    width: 25.3vw;
    background: #e4d82f;
    position: absolute;
    margin-top: 7.1vw;
    margin-left: 27.6vw;
  }

  #red3 {
    height: 5.7vw;
    width: 26.6vw;
    background: #951919;
    position: absolute;
    margin-top: 7.2vw;
    margin-left: 44vw;
  }

  #blue3 {
    height: 11.3vw;
    width: 27vw;
    background: #35ad7f;
    position: absolute;
    margin-top: 9.7vw;
    margin-left: 52.8vw;
  }

  #yellow5 {
    height: 7.15vw;
    width: 19.5vw;
    background: #e4d82f;
    position: absolute;
    margin-left: 58.3vw;
  }

  #yellow3 {
    height: 7.15vw;
    width: 14.2vw;
    background: #e4d82f;
    position: absolute;
    margin-top: 20.7vw;
    margin-left: 13.4vw;
  }

  #green2 {
    height: 11.5vw;
    width: 23.3vw;
    background: #99a82f;
    position: absolute;
    margin-top: 27.8vw;
    margin-left: 13.4vw;
  }

  #yellow2 {
    height: 8.25vw;
    width: 19.5vw;
    background: #e4d82f;
    position: absolute;
    margin-top: 41.95vw;
    margin-left: 13.3vw;
  }

  #red2 {
    height: 5.65vw;
    width: 26.7vw;
    background: #951919;
    position: absolute;
    margin-top: 36.25vw;
    margin-left: 21.1vw;
  }

  #yellow6 {
    height: 7.8vw;
    width: 29.4vw;
    background: #e4d82f;
    position: absolute;
    margin-top: 34.2vw;
    margin-left: 36.6vw;
  }

  #green5 {
    height: 8.3vw;
    width: 20.9vw;
    background: #99a82f;
    position: absolute;
    margin-top: 41.9vw;
    margin-left: 32.7vw;
  }

  #orange3 {
    height: 4.1vw;
    width: 29.5vw;
    background: #b47208;
    position: absolute;
    margin-top: 46.1vw;
    margin-left: 38.5vw;
  }

  #blue4 {
    height: 6.9vw;
    width: 23.9vw;
    background: #35ad7f;
    position: absolute;
    margin-top: 36.2vw;
    margin-left: 53.5vw;
  }

  #yellow8 {
    height: 7vw;
    width: 13.9vw;
    background: #e4d82f;
    position: absolute;
    margin-top: 20.9vw;
    margin-left: 65.9vw;
  }

  #orangefin {
    height: 21vw;
    width: 19.25vw;
    background: #b47208;
    position: absolute;
    margin-top: 14.05vw;
    margin-left: 27.6vw;
  }

  #greenfin {
    height: 21vw;
    width: 19.25vw;
    background: #99a82f;
    position: absolute;
    margin-top: 14.05vw;
    margin-left: 46.75vw;
  }

  #redfin {
    height: 18vw;
    width: 35.5vw;
    background: #951919;
    position: absolute;
    margin-top: 15.6vw;
    margin-left: 29vw;
  }
}
